/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
 #sidebar-wrapper{
    margin-top: -2% !important;
 }
.req{
    color:red;
}

.wd{
    width:90%;

}

.warning{

    background-color: red;
}

  #locationField, #controls {
    position: relative;
    width: 480px;
  }
  #autocomplete {
    top: 10px;
    left: 10px;
    width: 99%;
  }
  .label {
    text-align: right;
    font-weight: bold;
    width: 100px;
    color: #303030;
  }
  #address {
    width: 480px;
    padding-right: 2px;
  }
  #address td {
    font-size: 10pt;
  }
  .field {
    width: 99%;
  }
  .slimField {
    width: 80px;
  }
  .wideField {
    width: 200px;
  }
  #locationField {
    height: 20px;
    margin-bottom: 2px;
  }